/* styles.css */

/* Body styles */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f4f4f4;
}

/* Container styles */
.container {
  width: 80%;
  margin: 0 auto;
}

/* Select styles */
label {
  font-weight: bold;
}

select {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 2px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Details container styles */
#employee-details {
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 5px;
  background-color: #fff;
  width: 100%;
  margin-top: 5px;
}

/* Heading styles */
h2 {
  font-size: 24px;
  margin-bottom: 15px;
}

/* Paragraph styles */
p {
  margin-bottom: 10px;
}

/* Input and Button styles */
input[type="text"],
button {
  background-color: #4CAF50; /* Green */
  color: white;
  cursor: pointer;
  margin-bottom: 11px;
}

button:hover {
  background-color: #45a049; /* Darker Green */
}