// _variables.scss - 變數文件
$main-color: #4CAF50;      // 主要按鈕和元素的背景顏色
$darker-color: #45a049;    // 按鈕懸停時的較暗背景顏色
$border-color: #ccc;       // 元素的邊框顏色


/* Body styles - 全局樣式 */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f4f4f4; // 整體背景色
}

/* Container styles - 容器樣式 */
.container {
  width: 80%;       // 容器寬度
  margin: 0 auto;   // 自動置中
}

/* Select styles - 選擇框樣式 */
label {
  font-weight: bold;  // 加粗標籤文字
}

select {
  padding: 10px;         // 內邊距
  font-size: 16px;       // 字體大小
  margin-bottom: 2px;    // 底部間距
  width: 100%;           // 寬度
  border: 1px solid $border-color; // 使用變數設置邊框
  border-radius: 4px;   // 圓角
}

/* Details container styles - 詳細信息容器樣式 */
#employee-details {
  border: 1px solid $border-color; // 使用變數設置邊框
  padding: 5px;         // 內邊距
  border-radius: 5px;  // 圓角
  background-color: #fff; // 背景色
  width: 100%;         // 寬度
  margin-top: 5px;     // 上方間距
}

/* Heading styles - 標題樣式 */
h2 {
  font-size: 24px;    // 字體大小
  margin-bottom: 15px; // 底部間距
}

/* Paragraph styles - 段落樣式 */
p {
  margin-bottom: 10px; // 底部間距
}

/* Input and Button styles - 輸入框和按鈕樣式 */
input[type="text"],
button {
  background-color: $main-color; // 使用變數設置背景色
  color: white;          // 文字顏色
  cursor: pointer;       // 指標樣式
  margin-bottom: 11px;  // 底部間距
}

button:hover {
  background-color: $darker-color; // 使用變數設置按鈕懸停時的背景色
}
